<!DOCTYPE html>
<html lang="pt-br">
    <!-- Head -->
    <%- include("inc/head") -%>
    <!-- End Head -->
  <body id="page-top">
    <!-- Header -->
    <%- include("inc/header-navbar") -%>
    <!-- End Header -->

    <!-- Portfolio Grid-->
    <%- include("inc/content/portfolio") -%>
    <!-- End Portfolio Grid -->

    <!-- Contact-->
    <%- include("inc/content/contact") -%>
    <!-- End Contact -->

    <!-- Footer -->
    <%- include("inc/footer") -%>
    <!-- End Footer  -->

    <!-- Portfolio Modals -->
    <%- include("inc/content/portfolio-modals") -%>
    <!-- End Portfolio Modals -->

    <!-- Footer Scripts -->
    <%- include("inc/footer-scripts") -%>
    <!-- End Footer Scripts  -->
  </body>
</html>